/Loja_Online/nbproject/private/
/Loja_Online/build/
/Loja_Online/dist/
/Loja_Swing/Gestao_Loja/nbproject/private/
/Loja_Swing/Gestao_Loja/build/
/Loja_Swing/Gestao_Loja/dist/
/Loja_Swing/JavaApplication23/nbproject/private/
